[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
coveralls = "*"
pipenv-to-requirements = "*"
black = "*"
mypy = "*"
bs4 = "*"
types-requests = "*"  # Remove in flask > 2.0.0
types-pymysql = "*"
types-flask = "*"

[packages]
mwparserfromhell = "*"
requests = "*"
requests-oauthlib = "*"
toolforge = "*"
flask = "*"  # Due to flask-restx 0.4.0 hard dep
flask-babel = "*"
flask-restx = "*"
wheel = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
