{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
  <h1>{% trans %}Check a signature{% endtrans %}</h1>
  <form class="container-fluid" action="{{url_for('check')}}" method="get">
    <div class="form-row">
      <div class="form-group col-md-auto pr-md-2">
        <label for="site">{% trans %}Wiki{% endtrans %}</label>
        <select class="form-control" id="site" name="site" required>
        {% for option in sitematrix|sort() %}
        <option{% if option == current_locale.language + ".wikipedia.org"%} selected{%endif%}>{{option}}</option>
        {% endfor %}
        </select>
      </div>
      <div class="form-group col-md">
        <label for="username">{% trans %}Username{% endtrans %}</label>
        <input class="form-control" id="username" placeholder="{% trans %}Example{% endtrans %}" name="username" required>
      </div>
    </div>
    <div class="form-row">
      <button type="submit" class="btn btn-primary">Check</button>
    </div>
 </form>
{% endblock %}
