<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!--<link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"  crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/bootswatch/4.4.1/yeti/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/font-awesome/5.11.2/css/fontawesome.css">
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/font-awesome/5.11.2/css/solid.css">
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/font-awesome/5.11.2/css/brands.css">
    {% block head %}
    <title>{% block title %}{% endblock %} - Signatures</title>
    {% endblock %}
  </head>
  <body class="">
    <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
      <a class="navbar-brand" href="{{url_for('frontend.index')}}"><b>~~~~</b></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto">
          {% macro nav_row(name, label) -%}
            <li class="nav-item{% if url_for(name) == request.script_root + request.path %} active{% endif %}">
              <a class="nav-link font-weight-bolder" href="{{ url_for(name) }}">{{ label }}</a>
            </li>
          {%- endmacro %}
          {{ nav_row('frontend.index', _('Home')) }} 
          {{ nav_row('frontend.check', _('Check a signature')) }}
          {{ nav_row('frontend.report', _('Site-level data')) }}
          {{ nav_row('frontend.about', _('About')) }}
        </ul>
      </div>
    </nav>
    <br>
    <main role="main" class="container pt-5 mt-5 mx-auto bg-white" style="height:100%">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="flashes">
        {% for category, message in messages %}
          <div class="alert alert-{% if category=="message" %}primary{% else %}{{category}}{% endif %}" role="alert">{{message}}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}
    </main>
    <footer >
    {% block footer %}
      <div class="mh-auto p-3 mt-5 text-md-right text-center">
        <hr>
        <div class="row justify-content-center justify-content-md-end align-items-center">
          <div class="col- ml-md-4 btn-group" role="menu" aria-label="Language switcher">
            <button type="button btn-sm" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-language h5 mb-0 align-text-bottom"></i>
              <span id="currentLang">{{current_locale.display_name}}</span>
            </button>
            <div class="dropdown-menu" role="menuitem">
              {% for locale in available_locales %}
              <a 
                class="dropdown-item text-dark{% if locale == current_locale %} active{%endif%}" 
                href={{setlang_url(locale.language)}}
              >{{locale.display_name}}</a>
              {% endfor %}
            </div>
        </div>
          <div class="col-sm mb-3 mb-md-0">
            <div class="text-muted">
              {% trans trimmed
                open_link='<a class="text-reset" style="white-space: nowrap" href="https://www.apache.org/licenses/LICENSE-2.0">'|safe,
                close="</a>"|safe
              %}
              This project is licensed under the
              {{ open_link }}Apache License, version 2.0{{close}}.
              {% endtrans %}
            </div>
            <div class="text-muted">{% trans %}Repository version{% endtrans %} <code class="text-reset">{{ config['version'] }}</code></div>
          </div>
          <div class="col- mr-md-4">
            <a class="btn btn-secondary btn-sm" href="https://en.wikipedia.org/wiki/User_talk:AntiCompositeNumber">
              <i class="fab fa-wikipedia-w h6 mb-0 align-text-bottom"></i>
              {% trans %}Talk page{% endtrans %}
            </a>
            <a class="btn btn-secondary btn-sm" href="https://github.com/AntiCompositeNumber/signatures">
              <i class="fab fa-github h5 mb-0 align-text-bottom"></i>
              {% trans %}GitHub{% endtrans %}
            </a>
          </div>
        </div>
      </div>
    {% endblock %}
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.3.1/jquery.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/popper.js/1.16.1/umd/popper.js" crossorigin="anonymous"></script>
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
    {% block script %}
    {% endblock %}
  </body>
</html>
