name: Python application

on:
  push:
    branches:
      - master
  pull_request:


jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.9
      uses: actions/setup-python@v3.1.1
      with:
        python-version: 3.9
    - name: Install dependencies
      env:
        MICROPIPENV_NO_LOCKFILE_PRINT: 1
        MICROPIPENV_NO_LOCKFILE_WRITE: 1
      run: |
        python -m pip install --upgrade pip wheel micropipenv[toml]
        micropipenv install --dev
    - name: Load pywikibot config
      env:
          USER_CONFIG_PY: ${{ secrets.user_config_py }}
      run: echo $USER_CONFIG_PY > user-config.py
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Type check with mypy
      env:
          MYPYPATH: src
      run: |
        mypy .
    - name: Test with pytest
      run: |
        coverage run -m pytest
    - name: Coveralls
      env:
        COVERALLS_REPO_TOKEN: ${{ secrets.coveralls_repo_key }}
      continue-on-error: true
      run: |
        coveralls

  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: contains(github.ref, 'master')
    steps:
    - uses: actions/checkout@v3
    - name: check for dependency changes
      run: |
        ! git diff-tree --no-commit-id --name-only -r $GITHUB_REF | grep -P "(?:Pipfile.lock|requirements(-dev)?.txt)"
    - name: create deployment
      uses: NiklasMerz/github-deployment-action@v1.1.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        args: -o AntiCompositeNumber -r signatures -c master -e production
    - name: set deployment status
      uses: NiklasMerz/github-deployment-action@v1.1.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        args: -o AntiCompositeNumber -r signatures -s pending -f
